.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 250px;
    transform: translate(-50%, -50%);
    animation:
        pulse 5s ease-in-out infinite,
        rainbow 5s ease-in-out infinite;
}

.err-window {
    padding: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 250px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 24px;
}

.err-logo{
    margin-bottom: 15px;
    max-width: 250px;
}

.err-text{
    text-align: center;
}

@keyframes pulse {

    0%,
    100% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

@keyframes rainbow {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }

}